


.page {
    margin: 0;
    padding: 0;
    margin-top: 0.5cm;
    color:#212529;
    /*background-color: #FAFAFA;*/
    font-family:times;
    width: 19cm;
    min-height: 29.7cm;
    margin-left: 1.5cm;


    }

 @page {
    size: A4;
    margin: 0;
    }

 @media print {
    .page {
        margin: 0;
        padding: 0;
/*        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        /*page-break-after: always;*/
        }
       }


table {
  border-collapse: collapse;
}

.statistics_underlines {
  font-size:10pt;
  /*background: dodgerblue;
  color: white;*/
  /*white-space: nowrap;*/
  text-overflow: clip;
  overflow: hidden;
  text-decoration: overline underline;
  line-height: 80%;
  margin-top:0;
  margin-bottom:0;
}





.wrap_dates {
    width: 1310px;/*фиксуємо ширину обгортки*/
    margin: 0 auto;/*центрируємо її*/
    height: 1px;/*Задаемо висоту обгортки*/
    display: inline-block;
    vertical-align: top;
    margin-top:20px;
    margin-right:0;
    border-spacing: 0 0; /* border-collapse наследується, застосовується лише до table або inline-table елементам з border-collapse: separate; */
    border-collapse: collapse;
    }

.bblock {
      float: left; /*Задаємо обтікання*/
      line-height: 12px;/*Висота рядка +  верт. центрування тексту*/
      font-size: 10pt;
      text-align:left;
      margin-right: 3px;
     /* background: dodgerblue;
      color: white; */
   }
.table_measures
{
  width: 720px;/*фиксуємо ширину*/
  font-size: 8pt;
  border: 1px solid #000; /* Рамка навколо таблиці measures */
  border-collapse: collapse;
}
.table_measures td,th
{
  font-size: 8pt;
  border: 1px solid #000; /* Рамка навколо клітинки таблиці measures */

}




