body {
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 50vh;
     }


.table-fixed tbody{
         display:block;
         height:460px;
         overflow:auto;
 }


.table-fixed thead, .table-fixed tbody tr {
  display: table;
  table-layout:fixed;
  width: 100%;
}
